<ion-view title="Saturday, Sept 16th" id="page11">
  <ion-content padding="true" class="has-header">
    <ion-list id="saturdaySept16th-list3">
      <ion-item class="item-avatar item-icon-right" id="saturdaySept16th-list-item6">
        <h2>Meet Jun Jun for App</h2>
        <p style="white-space:normal;">Perch Cafe, Oakland 9:00</p>
        <i class="icon ion-ios-alarm"></i>
      </ion-item>
      <ion-item class="item-avatar" id="saturdaySept16th-list-item7">
        <h2>Pick up Ihsan</h2>
        <p>Transit Center, San Rafael 11:00</p>
      </ion-item>
      <ion-item class="item-avatar" id="saturdaySept16th-list-item8">
        <h2>Add FB Sign-in</h2>
        <p>Consensual</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>